
<div *ngIf="vm$ | async as vm">

  <button mat-raised-button (click)="create()">Create</button>

  <mat-form-field>

    <mat-label>Search</mat-label>
    <input matInput placeholder="Search">
    <mat-hint>Start typing to search....</mat-hint>
  
  </mat-form-field>
  
  <table  mat-table [dataSource]="vm.dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title }} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <a (click)="complete(element.toDoId)">Complete</a>
        </td>
      </ng-container>
    
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

  